name: Update Ad Filters
on:
  schedule:
    - cron: '08 19 * * *'  # UTC 19:08（Beijing 03:08）
  workflow_dispatch:
  push:
    paths:
      - 'rules/adservers.txt'
      - 'rules/supple.txt'

permissions:
  contents: write

jobs:
  update-filter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Run update script
        run: |
          bash scripts/matrix_get.sh
          bash scripts/matrix_lighten.sh
          bash scripts/matrix_fuel.sh      
          bash scripts/matrix_launch.sh

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions[bot]
          author_email: github-actions[bot]@users.noreply.github.com
          message: "Update filters"
          add: rules/MobiList.txt
          detect_unchanged: true
          push: true
          fetch: false

      - name: Refresh jsDelivr cache
        run: |
          curl -sfL "https://purge.jsdelivr.net/gh/Lky777/MWCP/rules/MobiList.txt"
          curl -sfL "https://cdn.jsdelivr.net/gh/Lky777/MWCP/rules/MobiList.txt?$(date +%s)" >/dev/null

      - name: Final cleanup
        if: always()
        run: |
          rm -rf rules/ easylist/ scripts/
